{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block container %}
<form method="POST" action="/auth/reset_password/check">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"  name='reset_email' aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-success forgot-btn">Submit</button>
  </form>
{% endblock %}