.container {
  background-color: blanchedalmond;
  min-width: 50%;
  place-items: center;
  margin: 100px auto;
  padding: 30px;
  border: 2px salmon solid;
}
.remember-container {
  margin-top: 17px;
}
.btn-register {
  margin-left: 17px;
}
.forgot-password {
  margin-left: 17px;
}

.forgot-btn {
  margin-top: 17px;
}

.chat-input {
  width: 50%;
  padding: 40px;
  margin-left: 20px;
  margin-right: 100px;
}
.message_holder {
  height: 300px;
}
.submit-button {
  border: 10px green solid;
  border-radius: 10px;
}
